.landing-page {
    background-image: url('C:\Users\muham\houseplant-store\houseplant-store\public\assets\background.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 600px;
}

.get-started-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.get-started-btn:hover {
    background-color: darkgreen;
}